<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="post.html">
                  <p class="post-subtitle">
                        Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                  </p>
                </a>
                <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
            </div>
            <hr>
                            <div class="post-preview">
                <a href="post.html">
                  <p class="post-subtitle">
                        Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                  </p>
                </a>
                <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>